<nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-border mb-5">
  <div class="container">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if page.permalink == '/page/' %} active {% endif %}">
        <a class="nav-link" href="{{ "/page" | relative_url }}">Page</a>
      </li>
      <li class="nav-item {% if page.permalink == '/article/' %} active {% endif %}">
        <a class="nav-link" href="{{ "/2017/07/07/article" | relative_url }}">Article</a>
      </li>
    </ul>
  </div>
</div>
</nav>
